#about {
  margin: 7em;
  display: flex;
  align-items: center;
}

.profile_image {
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.profile_image img {
  width: 100%;
  object-fit: cover;
  height: auto;
  margin-top: -9em;
}

.profile_caption {
  font-family: "Marcellus", serif;
  max-width: 500px;
  margin: auto;
}
