button {
  cursor: url("../img/star.png") 16 16, auto;
  background-color: rgb(220, 20, 20);
  color: white;
  border: none;
  border-radius: 2em;
  height: 3em;
  overflow: hidden;
}

.button-effect {
  display: block;
  transition: transform 0.5s ease;
  padding: 1em 1em;
  border-radius: inherit;
}

.button-effect:last-child {
  background-color: black;
}

button:hover .button-effect:last-child {
  background-color: black;
  transform: translateY(-100%);
}
