.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

.form-grid div {
  display: block;
  align-items: center;
  border-bottom: 1px solid rgb(194, 190, 190);
}

.form-effect {
  display: block;
  transition: transform 0.3s ease;
  cursor: url("../img/star.png") 16 16, auto;
}

.form-effect:first-child {
  transform: translateY(100%);
}

.grid-item-full {
  grid-column: span 2;
}

.form-grid label {
  margin-bottom: 0.5em;
  cursor: url("../img/star.png") 16 16, auto;
}

.form-grid input,
.form-grid textarea {
  border: none;
  width: 100%;
  padding: 0.5em;
  font-family: inherit;
}

input::placeholder {
  text-align: right;
  color: rgb(194, 190, 190);
  margin-right: 0.5em;
}

input {
  background: none;
}

textarea::placeholder {
  text-align: end;
  transform: translateY(410%);
  color: rgb(194, 190, 190);
  margin-right: 0.5em;
}

textarea {
  width: 100%;
  resize: none;
  margin: 0;
}

.grid-item:focus-within .form-effect:first-child {
  transform: translateY(0);
}

.grid-item:has(input:not(:placeholder-shown)) .form-effect:first-child {
  transform: translateY(0);
}

*:focus {
  outline: none;
}

button {
  cursor: url("../img/star.png") 16 16, auto;
  background-color: rgb(220, 20, 20);
  color: white;
  border: none;
  padding: 0.8em 1.5em;
  border-radius: 2em;
}
