.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

.form-grid div {
  display: block;
  align-items: center;
  border-bottom: 1px solid rgb(194, 190, 190);
}

.form-effect {
  display: block;
  transition: transform 0.3s ease;
}

.form-effect:first-child {
  transform: translateY(100%);
}

.grid-item-full {
  grid-column: span 2;
}

.form-grid label {
  margin-bottom: 0.5em;
}

.form-grid input,
.form-grid textarea {
  border: none;
  width: 100%;
  padding: 0.5em;
  font-family: inherit;
}

input::placeholder {
  text-align: right;
}

input {
  background: none;
}

.grid-item:focus-within .form-effect:first-child {
  transform: translateY(0);
}
