body {
  cursor: url("../img/star.png") 16 16, auto;
  font-family: "Marcellus SC", serif;
  padding: 5em;
  box-sizing: border-box;
}

@media (min-width: 1500px) {
  body {
    cursor: url("../img/star.png") 16 16, auto;
    font-family: "Marcellus SC", serif;
    font-size: large;
    padding: 5em;
    box-sizing: border-box;
  }

  .header-nav-bar {
    margin-left: auto;
    font-weight: bolder;
    font-size: x-large;
  }
}

@media (max-width: 1300px) {
  #about {
    margin: 7em;
    flex-direction: column;
    align-items: center;
  }

  .header-wrapper {
    flex-wrap: wrap;
  }

  .header-nav-bar {
    width: 100%;
    margin-top: 1em;
  }

  .label-effect {
    font-size: 0.9em;
  }

  .profile_image {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .profile_image img {
    margin-top: -6em;
  }

  .profile_caption {
    width: 100%;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  html {
    display: flex;
    align-items: flex-start;
  }

  header {
    max-width: 370;
  }

  body {
    padding: 1em;
  }

  .header-title img {
    max-width: 20em;
  }

  section {
    min-width: 340px;
  }

  .work-tab {
    gap: 1.5em;
  }

  .project-banner {
    width: 100%;
    height: auto;
    text-align: center;
    position: static;
    overflow: visible;
  }

  .project-slider {
    position: static;
    width: 100%;
    height: auto;
    transform: none;
    transform-style: flat;
    animation: none;

    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin-top: 2em;
  }

  .project-item {
    position: static;
    inset: auto;
    transform: none;
    display: flex;
    justify-content: center;
  }

  .project-card {
    width: 100%;
    min-width: 200px;
    font-family: "Marcellus", serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-container {
  margin: 5em;
}
