body {
  cursor: url("../img/star.png") 16 16, auto;
  font-family: "Marcellus SC", serif;
  padding: 5em;
  box-sizing: border-box;
}

@media (min-width: 1500px) {
  body {
    cursor: url("../img/star.png") 16 16, auto;
    font-family: "Marcellus SC", serif;
    font-size: large;
    padding: 5em;
    box-sizing: border-box;
  }

  .header-nav-bar {
    margin-left: auto;
    font-weight: bolder;
    font-size: x-large;
  }
}

@media (max-width: 1300px) {
  #about {
    margin: 7em;
    flex-direction: column;
    align-items: center;
  }

  .header-wrapper {
    flex-wrap: wrap;
  }

  .header-nav-bar {
    width: 100%;
    margin-top: 1em;
  }

  .label-effect {
    font-size: 0.9em;
  }

  .profile_image {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .profile_image img {
    margin-top: -6em;
  }
}

@media (max-width: 900px) {
  .header-title img {
    max-width: 20em;
  }
}

.form-container {
  margin: 5em;
}
