.header-logo img {
  height: 4em;
}

.header-title img {
  max-height: 8em;
}

.header-wrapper {
  position: sticky;
  width: 100%;
  display: flex;
  align-items: baseline;
}

.header-nav-bar {
  margin-left: auto;
}

nav ul {
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  gap: 2em;
  display: flex;
}

nav ul li {
  display: inline-block;
  font-size: 1em;
}

nav ul li a {
  text-decoration: none;
}
