#previous {
  margin: 7em;
}

#previous p {
  font-family: "Marcellus", serif;
}

.work-tab {
  display: flex;
  width: 100%;
  margin-top: 2em;
  gap: 3em;
  border-bottom: 1px solid black;
  justify-content: center;
}

.tab-btn {
  font-family: "Marcellus SC", serif;
  border: none;
  background-color: white;
  font-size: medium;
  padding-bottom: 1em;
  text-decoration: none;
}

.tab-content {
  margin: 2em;
  font-size: small;
}

.second {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.role,
.timeframe {
  font-style: italic;
  font-weight: bolder;
}

.bullet-pts {
  padding-left: 1rem;
}
