#projects {
  margin: 7em;
}

.project-banner {
  width: 100%;
  height: 700px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.project-slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(800px);
  animation: autoRun 25s linear infinite;
}

@keyframes autoRun {
  from {
    transform: perspective(800px) rotateX(-8deg) rotateY(0deg);
  }
  to {
    transform: perspective(800px) rotateX(-8deg) rotateY(360deg);
  }
}

.project-slider:hover {
  animation-play-state: paused !important;
}

.project-item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
    translateZ(300px);
}

.project-card {
  height: 250px;
  width: 200px;
  font-family: "Marcellus", serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 2em;
  object-fit: cover;
}

.project-card h2 {
  margin: 0 0 0 0;
}

.project-card p {
  font-size: small;
  text-align: left;
}

.project-card button {
  font-size: small;
}
