.profile_image {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}
.profile_image img {
  width: 100%;
  height: auto;
  margin-top: -6em;
}

nav {
  position: sticky;
  padding: 10px;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.header-nav-bar {
  list-style-type: none;
}
