.header-logo img {
  height: 4em;
}

.header-title img {
  height: 19em;
  margin-left: 2em;
  margin-top: 0.7em;
}

.profile_image {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}
.profile_image img {
  width: 100%;
  height: auto;
  margin-top: -6em;
}

body {
  font-family: "Georgia", serif;
  margin: 0;
  padding: 2em;
  box-sizing: border-box;
}

.header-wrapper {
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-nav-bar {
  margin-left: auto;
}

nav ul {
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  gap: 2em;
  display: flex;
}

nav ul li {
  display: inline-block;
  font-size: 1em;
}

nav ul li a {
  text-decoration: none;
  padding: 1em;
}

nav ul li a .label-effect {
  display: block;
}

nav ul li a .label-effect:first-child {
  color: black;
}

nav ul li a .label-effect:last-child {
  color: rgb(220, 20, 20);
}

nav ul li a:hover {
  /*TODO*/
}
