.header-logo img {
  height: 4em;
}

.about-section {
  margin-top: 3em;
}

.header-title img {
  height: 8em;
}

.profile_image {
  position: static;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
}

.profile_image img {
  width: 100%;
  height: auto;
  margin-top: -9em;
}

body {
  font-family: "Georgia", serif;
  padding: 2em;
  box-sizing: border-box;
}

.header-wrapper {
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-nav-bar {
  margin-left: auto;
}

nav ul {
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  gap: 2em;
  display: flex;
}

nav ul li {
  display: inline-block;
  font-size: 1em;
}

nav ul li a {
  text-decoration: none;
  overflow: hidden;
  height: 1em;
  display: block;
}

nav ul li a .label-effect {
  display: block;
  transition: transform 0.3s ease;
}

nav ul li a .label-effect:first-child {
  color: black;
}

nav ul li a .label-effect:last-child {
  color: rgb(220, 20, 20);
}

nav ul li a:hover .label-effect:first-child {
  color: black;
  transform: translateY(-100%);
}

nav ul li a:hover .label-effect:last-child {
  color: rgb(220, 20, 20);
  transform: translateY(-100%);
}

.profile_caption {
  position: relative;
  top: -320px;
  left: 200px;
  max-width: 500px;
  margin: auto;
}

@media (max-width: 1150px) {
  .header-wrapper {
    flex-wrap: wrap;
  }

  .header-nav-bar {
    width: 100%;
    margin-top: 1em;
  }
}

@media (max-width: 950px) {
  .profile_caption {
    position: static;
    left: auto;
    top: auto;
    margin-top: 2em;
  }
}
